*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.full-page{
	height: 100%;
	width: 100%;
	background-color: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(n.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
	padding-left: auto;
	padding-right: 30px;
	padding-top: 20px;
}
.nav{
	flex:1;
	text-align: right;
}
.nav ul{
	display: inline-block;
	list-style: none;
}
.nav ul li{
	display: inline-block;
	margin-right: 70px;
}

.nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-family: sans-serif;
}
.nav ul li button{
	font-size: 20px;
	color: white;
	outline: none;
	border: none;
}
.nav ul li button:hover
{
	color: aqua;
}
.nav ul li a: hover{
	color: aqua;
}
.a{
	text-indent: none;
	color: palevioletred;
	font-size: 28px;
}