.col-1{
	flex-basis: 50%;
	min-width: 300px;
	background-image: url('im.jpg');
	background-size: cover;
	margin-top: 10%;
	margin-left:40%;
	max-width:300px;
}
.define{
	text-align: center;
	font-size: 30px;
	padding-left: 60px;
	font-family: sans-serif;
	text-decoration-color: white;
}