* {
  box-sizing: border-box;
}
form.example input[type=text] {
  padding: 9px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

form.example input[type=submit] {
  float: left;
  width: 20%;
  padding: 9px;
  background: #2196F4;
  color: white;
  font-size: 17px;
  border: 2px solid grey;
  border-left: none;
  cursor:pointer;
}